<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>About</h2>
            <p class="lead">Photo Walk Wednesdays (PWW) is a free creative bi-weekly photography meetup in Boston.</p>
            <p>PWW is as an outlet for photographers and models to practice, experiment, and hone their skills in a collaborative environment without pressure from clients.</p>
            <p>Photographers and models of all skill levels are welcome to apply to join.</p>

            <p>
                In the press:
                <a href="http://www.neighbormedia.org/news/photo-walk-brings-local-artists-together" target="_blank">Photo Walk Brings Local Artists Together <img src="/iconic/svg/external-link.svg" alt="external-link" style="width: 12px" /></a>
            </p>
        </div>
    </div>
</div>
