<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>About</h2>
            <p class="lead">Photo Walk Boston (PWB) is a free creative photography meetup in Boston.</p>
            <p>PWB is as an outlet for photographers and models to practice, experiment, and hone their skills in a collaborative environment.</p>
            <p>Photographers and models of all skill levels are welcome to apply to join.</p>
            <p class="text-muted">This is a meetup for people age 18 and up. This group is for adults to practice, network, learn and socialize. It is not intended to be a family- or child-friendly outing.</p>

            <p>
                In the press:
                <a href="http://www.neighbormedia.org/news/photo-walk-brings-local-artists-together" target="_blank">Photo Walk Brings Local Artists Together <img src="/iconic/svg/external-link.svg" alt="external-link" style="width: 12px" /></a>
            </p>
        </div>
    </div>
</div>
