<div class="modal fade" id="addToCalendar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add to calendar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                    <a href="{{calendar.google}}" class="btn btn-light btn-lg" target="_blank">Google</a>
                    <a href="{{calendar.outlook}}" class="btn btn-light btn-lg" target="_blank">Outlook</a>
                    <a href="{{calendar.office365}}" class="btn btn-light btn-lg" target="_blank">Office 365</a>
                    <a href="{{calendar.ics}}" class="btn btn-light btn-lg" target="_blank">Apple Calendar (ICS)</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
