<strong><a
    href="mailto:join@photowalkboston.com?Subject={{"Photo Walk Wednesdays Application"|url_encode}}&Body={{applicationQuestions|join("\n\n\n")|url_encode}}"
    target="_blank">
        join@photowalkboston.com
</a></strong>
