<strong><a
    href="mailto:join@photowalkwednesdays.com?Subject={{"Photo Walk Wednesdays Application"|url_encode}}&Body={{applicationQuestions|join("\n\n\n")|url_encode}}"
    target="_blank">
        join@photowalkwednesdays.com
</a></strong>
