<strong><a
    href="mailto:join@photowalkwednesdays.com?Subject={{"Photo Walk Wednesdays Application"|url_encode}}&Body={{"Full name:\n\nInstagram link:\n\nAre you primarily a photographer or model?:\n\nWebsite link:\n\nFacebook page:\n\nLevel of experience (Beginner, Intermediate, Advanced, Full Time Professional):\n\nAnything you'd like to share?\n\n"|url_encode}}"
    target="_blank">
        join@photowalkwednesdays.com
</a></strong>
