<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Featured Photos</h2>
            <p>A selection of photos from recent Photo Walk Wednesdays. Follow us on Instagram: <a href="https://instagram.com/photowalkwednesdays" target="_blank">@photowalkwednesdays</a></p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <!--div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'rOUKY5t66hqhmjKRpaRG'});Pixlee.addSimpleWidget({widgetId:'6012'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script-->

            <div class='embedsocial-instagram' data-ref="bddd9e25b131b49052faa324e35dc8a769abd23c"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script>
        </div>
    </div>
</div>
