<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block title %}
                Photo Walk Wednesdays
            {% endblock %}
        </title>

        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/scrolling-nav.css" rel="stylesheet">
        <link href="/css/main.css?2" rel="stylesheet">
        <link href="/css/rrssb.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        {% block open_graph %}
            <meta property="og:title" content="Photo Walk Wednesdays" />
            <meta property="og:description" content="A free creative meetup in Boston for photographers and models" />
            <meta property="og:url" content="http://{{host}}" />
            <meta property="og:image" content="http://{{host}}/images/hero-banner.jpg" />
        {% endblock %}
    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                {% block nav %}
                    <a class="navbar-brand js-scroll-trigger header--title" href="/#page-top">Photo Walk Wednesdays</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/#events">Upcoming Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/#featured">Photos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/#team">The Team</a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">&copy; <a href="http://andrewmacrobert.com" style="color:white; text-decoration: underline;" target="_blank">Andrew MacRobert</a> {{now|date('Y')}}</p>
            </div>
            <!-- /.container -->
        </footer>

        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/scrolling-nav.js"></script>
        <script src="/js/rrssb.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121828755-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-121828755-1');
        </script>

    </body>

</html>
